<button class="rounded-lg custom-border text-stone-500 py-2 px-7 m-2 block hover:bg-stone-400 hover:text-white" id="new-chat">+ New Chat</button>
<p  class="text-stone-500 py-1 px-4 block underline">Chat History</p>
<ul id="history" class="list-none p-3 grow"></ul>
<div class="hr"></div>
{{!-- just a random footer, can be deleted if not needed --}}
<a href="https://claudwatari95.github.io" target="_blank" class="text-center text-xs mb-3">@claudwatari95</a>